{% load static wagtailuserbar %}


{% comment %}
    During the template rendering, we will occasionally check for "results/api_view" in context.
    We do this do distinguish an API template result from a regular result.

    This way, article template can be reused.
{% endcomment %}


{% if not results %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>

            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}


            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}

        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/svenv.css' %}">
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
{% endif %}
        {% block content %}{% endblock %}
{% if not results %}
        {% block footer %}
            <footer class="footer">You have reached the bottom of this page.</footer>
        {% endblock %}
    </body>
    <script src="{% static 'js/svenv.js' %}"></script>
</html>
{% endif %}
